<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huge Heart</title>
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet">
</head>
<body>
<div class="v1_2">
    <div class="v63_2701">
        <div class="v63_23">
            <div class="v63_24">
                <div class="v63_25">
                    <div class="v63_26">
                        <div class="v63_27">
                        </div>
                    </div>
                </div>
                <div class="v63_28">
                </div>
            </div>
            <div class="v63_29">
                <div class="v63_30">
                    <div class="v63_31">
                        <div class="v63_32">
                        </div>
                    </div>
                </div>
                <div class="v63_33">
                </div>
            </div>
            <div class="v63_34">
                <div class="v63_35">
                    <div class="v63_36">
                        <div class="v63_37">
                        </div>
                    </div>
                </div>
                <div class="v63_38">
                </div>
            </div>
            <div class="v63_39">
                <div class="v63_40">
                    <div class="v63_41">
                        <div class="v63_42">
                        </div>
                    </div>
                </div>
                <div class="v63_43">
                </div>
            </div>
            <div class="v63_44">
                <div class="v63_45">
                    <div class="v63_46">
                        <div class="v63_47">
                        </div>
                    </div>
                </div>
                <div class="v63_48">
                </div>
            </div>
            <div class="v63_49">
                <div class="v63_50">
                    <div class="v63_51">
                        <div class="v63_52">
                        </div>
                    </div>
                </div>
                <div class="v63_53">
                </div>
            </div>
            <div class="v63_54">
                <div class="v63_55">
                    <div class="v63_56">
                        <div class="v63_57">
                        </div>
                    </div>
                </div>
                <div class="v63_58">
                </div>
            </div>
            <div class="v63_59">
                <div class="v63_60">
                    <div class="v63_61">
                        <div class="v63_62">
                        </div>
                    </div>
                </div>
                <div class="v63_63">
                </div>
            </div>
            <div class="v63_64">
                <div class="v63_65">
                    <div class="v63_66">
                        <div class="v63_67">
                        </div>
                    </div>
                </div>
                <div class="v63_68">
                </div>
            </div>
            <div class="v63_69">
                <div class="v63_70">
                    <div class="v63_71">
                        <div class="v63_72">
                        </div>
                    </div>
                </div>
                <div class="v63_73"></div>
            </div>
            <div class="v63_74">
                <div class="v63_75">
                    <div class="v63_76">
                        <div class="v63_77">
                        </div>
                    </div>
                </div>
                <div class="v63_78">
                </div>
            </div>
            <div class="v63_79">
                <div class="v63_80">
                    <div class="v63_81">
                        <div class="v63_82"></div>
                    </div>
                </div>
                <div class="v63_83"></div>
            </div>
            <div class="v63_84">
                <div class="v63_85">
                    <div class="v63_86">
                        <div class="v63_87"></div>
                    </div>
                </div>
                <div class="v63_88"></div>
            </div>
            <div class="v63_89">
                <div class="v63_90">
                    <div class="v63_91">
                        <div class="v63_92"></div>
                    </div>
                </div>
                <div class="v63_93"></div>
            </div>
            <div class="v63_94">
                <div class="v63_95">
                    <div class="v63_96">
                        <div class="v63_97"></div>
                    </div>
                </div>
                <div class="v63_98"></div>
            </div>
            <div class="v63_99">
                <div class="v63_100">
                    <div class="v63_101">
                        <div class="v63_102"></div>
                    </div>
                </div>
                <div class="v63_103"></div>
            </div>
            <div class="v63_104">
                <div class="v63_105">
                    <div class="v63_106">
                        <div class="v63_107"></div>
                    </div>
                </div>
                <div class="v63_108"></div>
            </div>
            <div class="v63_109">
                <div class="v63_110">
                    <div class="v63_111">
                        <div class="v63_112"></div>
                    </div>
                </div>
                <div class="v63_113"></div>
            </div>
            <div class="v63_114">
                <div class="v63_115">
                    <div class="v63_116">
                        <div class="v63_117"></div>
                    </div>
                </div>
                <div class="v63_118"></div>
            </div>
            <div class="v63_119">
                <div class="v63_120">
                    <div class="v63_121">
                        <div class="v63_122"></div>
                    </div>
                </div>
                <div class="v63_123"></div>
            </div>
            <div class="v63_124">
                <div class="v63_125">
                    <div class="v63_126">
                        <div class="v63_127"></div>
                    </div>
                </div>
                <div class="v63_128"></div>
            </div>
            <div class="v63_129">
                <div class="v63_130">
                    <div class="v63_131">
                        <div class="v63_132"></div>
                    </div>
                </div>
                <div class="v63_133"></div>
            </div>
            <div class="v63_134">
                <div class="v63_135">
                    <div class="v63_136">
                        <div class="v63_137"></div>
                    </div>
                </div>
                <div class="v63_138"></div>
            </div>
            <div class="v63_139">
                <div class="v63_140">
                    <div class="v63_141">
                        <div class="v63_142"></div>
                    </div>
                </div>
                <div class="v63_143"></div>
            </div>
            <div class="v63_144">
                <div class="v63_145">
                    <div class="v63_146">
                        <div class="v63_147"></div>
                    </div>
                </div>
                <div class="v63_148"></div>
            </div>
        </div>
        <div class="v63_12"></div>
        <div class="v63_2705"><span class="v63_17">Huge Heart</span>
            <div class="v63_18"></div>
            <span class="v63_20">Huge Heart provides progressive, and affordable healthcare, accessible
everywhere and online for everyone</span><span class="v63_155">©Huge Heart Org. 2022. All rights reserved</span></div>
        <div class="v63_2702"><span class="v63_150">About
Testimonials

Find a doctor
Apps</span><span class="v63_149">Company</span></div>
        <div class="v63_2703"><span class="v63_151">Almaty
Nur-Sultan
Aqtobe
</span><span class="v63_152">Regions</span></div>
        <div class="v63_2704"><span class="v63_153">Help center
Contact support
Instructions
How it works</span><span class="v63_154">Help</span></div>
        <div class="v63_157">
            <div class="v63_158">
                <div class="v63_159">
                    <div class="v63_160">
                        <div class="v63_161"></div>
                    </div>
                </div>
                <div class="v63_162"></div>
            </div>
            <div class="v63_163">
                <div class="v63_164">
                    <div class="v63_165">
                        <div class="v63_166"></div>
                    </div>
                </div>
                <div class="v63_167"></div>
            </div>
            <div class="v63_168">
                <div class="v63_169">
                    <div class="v63_170">
                        <div class="v63_171"></div>
                    </div>
                </div>
                <div class="v63_172"></div>
            </div>
            <div class="v63_173">
                <div class="v63_174">
                    <div class="v63_175">
                        <div class="v63_176"></div>
                    </div>
                </div>
                <div class="v63_177"></div>
            </div>
            <div class="v63_178">
                <div class="v63_179">
                    <div class="v63_180">
                        <div class="v63_181"></div>
                    </div>
                </div>
                <div class="v63_182"></div>
            </div>
            <div class="v63_183">
                <div class="v63_184">
                    <div class="v63_185">
                        <div class="v63_186"></div>
                    </div>
                </div>
                <div class="v63_187"></div>
            </div>
            <div class="v63_188">
                <div class="v63_189">
                    <div class="v63_190">
                        <div class="v63_191"></div>
                    </div>
                </div>
                <div class="v63_192"></div>
            </div>
            <div class="v63_193">
                <div class="v63_194">
                    <div class="v63_195">
                        <div class="v63_196"></div>
                    </div>
                </div>
                <div class="v63_197"></div>
            </div>
            <div class="v63_198">
                <div class="v63_199">
                    <div class="v63_200">
                        <div class="v63_201"></div>
                    </div>
                </div>
                <div class="v63_202"></div>
            </div>
            <div class="v63_203">
                <div class="v63_204">
                    <div class="v63_205">
                        <div class="v63_206"></div>
                    </div>
                </div>
                <div class="v63_207"></div>
            </div>
            <div class="v63_208">
                <div class="v63_209">
                    <div class="v63_210">
                        <div class="v63_211"></div>
                    </div>
                </div>
                <div class="v63_212"></div>
            </div>
            <div class="v63_213">
                <div class="v63_214">
                    <div class="v63_215">
                        <div class="v63_216"></div>
                    </div>
                </div>
                <div class="v63_217"></div>
            </div>
            <div class="v63_218">
                <div class="v63_219">
                    <div class="v63_220">
                        <div class="v63_221"></div>
                    </div>
                </div>
                <div class="v63_222"></div>
            </div>
            <div class="v63_223">
                <div class="v63_224">
                    <div class="v63_225">
                        <div class="v63_226"></div>
                    </div>
                </div>
                <div class="v63_227"></div>
            </div>
            <div class="v63_228">
                <div class="v63_229">
                    <div class="v63_230">
                        <div class="v63_231"></div>
                    </div>
                </div>
                <div class="v63_232"></div>
            </div>
            <div class="v63_233">
                <div class="v63_234">
                    <div class="v63_235">
                        <div class="v63_236"></div>
                    </div>
                </div>
                <div class="v63_237"></div>
            </div>
            <div class="v63_238">
                <div class="v63_239">
                    <div class="v63_240">
                        <div class="v63_241"></div>
                    </div>
                </div>
                <div class="v63_242"></div>
            </div>
            <div class="v63_243">
                <div class="v63_244">
                    <div class="v63_245">
                        <div class="v63_246"></div>
                    </div>
                </div>
                <div class="v63_247"></div>
            </div>
            <div class="v63_248">
                <div class="v63_249">
                    <div class="v63_250">
                        <div class="v63_251"></div>
                    </div>
                </div>
                <div class="v63_252"></div>
            </div>
            <div class="v63_253">
                <div class="v63_254">
                    <div class="v63_255">
                        <div class="v63_256"></div>
                    </div>
                </div>
                <div class="v63_257"></div>
            </div>
            <div class="v63_258">
                <div class="v63_259">
                    <div class="v63_260">
                        <div class="v63_261"></div>
                    </div>
                </div>
                <div class="v63_262"></div>
            </div>
            <div class="v63_263">
                <div class="v63_264">
                    <div class="v63_265">
                        <div class="v63_266"></div>
                    </div>
                </div>
                <div class="v63_267"></div>
            </div>
            <div class="v63_268">
                <div class="v63_269">
                    <div class="v63_270">
                        <div class="v63_271"></div>
                    </div>
                </div>
                <div class="v63_272"></div>
            </div>
            <div class="v63_273">
                <div class="v63_274">
                    <div class="v63_275">
                        <div class="v63_276"></div>
                    </div>
                </div>
                <div class="v63_277"></div>
            </div>
            <div class="v63_278">
                <div class="v63_279">
                    <div class="v63_280">
                        <div class="v63_281"></div>
                    </div>
                </div>
                <div class="v63_282"></div>
            </div>
        </div>
    </div>
    <div class="v63_2700">
        <div class="v58_281">
            <div class="v58_282"></div>
        </div>
        <div class="v63_2698">
            <div class="v63_9"></div>
            <!--  7 View all articles        -->
            <span class="v63_10">View all</span></div>
        <div class="v58_283">
            <div class="v58_284">
                <div class="v58_285">
                    <div class="v58_286">
                        <div class="v58_287"></div>
                    </div>
                </div>
                <div class="v58_288"></div>
            </div>
            <div class="v58_289">
                <div class="v58_290">
                    <div class="v58_291">
                        <div class="v58_292"></div>
                    </div>
                </div>
                <div class="v58_293"></div>
            </div>
            <div class="v58_294">
                <div class="v58_295">
                    <div class="v58_296">
                        <div class="v58_297"></div>
                    </div>
                </div>
                <div class="v58_298"></div>
            </div>
            <div class="v58_299">
                <div class="v58_300">
                    <div class="v58_301">
                        <div class="v58_302"></div>
                    </div>
                </div>
                <div class="v58_303"></div>
            </div>
            <div class="v58_304">
                <div class="v58_305">
                    <div class="v58_306">
                        <div class="v58_307"></div>
                    </div>
                </div>
                <div class="v58_308"></div>
            </div>
            <div class="v58_309">
                <div class="v58_310">
                    <div class="v58_311">
                        <div class="v58_312"></div>
                    </div>
                </div>
                <div class="v58_313"></div>
            </div>
            <div class="v58_314">
                <div class="v58_315">
                    <div class="v58_316">
                        <div class="v58_317"></div>
                    </div>
                </div>
                <div class="v58_318"></div>
            </div>
            <div class="v58_319">
                <div class="v58_320">
                    <div class="v58_321">
                        <div class="v58_322"></div>
                    </div>
                </div>
                <div class="v58_323"></div>
            </div>
            <div class="v58_324">
                <div class="v58_325">
                    <div class="v58_326">
                        <div class="v58_327"></div>
                    </div>
                </div>
                <div class="v58_328"></div>
            </div>
            <div class="v58_329">
                <div class="v58_330">
                    <div class="v58_331">
                        <div class="v58_332"></div>
                    </div>
                </div>
                <div class="v58_333"></div>
            </div>
            <div class="v58_334">
                <div class="v58_335">
                    <div class="v58_336">
                        <div class="v58_337"></div>
                    </div>
                </div>
                <div class="v58_338"></div>
            </div>
            <div class="v58_339">
                <div class="v58_340">
                    <div class="v58_341">
                        <div class="v58_342"></div>
                    </div>
                </div>
                <div class="v58_343"></div>
            </div>
            <div class="v58_344">
                <div class="v58_345">
                    <div class="v58_346">
                        <div class="v58_347"></div>
                    </div>
                </div>
                <div class="v58_348"></div>
            </div>
            <div class="v58_349">
                <div class="v58_350">
                    <div class="v58_351">
                        <div class="v58_352"></div>
                    </div>
                </div>
                <div class="v58_353"></div>
            </div>
            <div class="v58_354">
                <div class="v58_355">
                    <div class="v58_356">
                        <div class="v58_357"></div>
                    </div>
                </div>
                <div class="v58_358"></div>
            </div>
            <div class="v58_359">
                <div class="v58_360">
                    <div class="v58_361">
                        <div class="v58_362"></div>
                    </div>
                </div>
                <div class="v58_363"></div>
            </div>
            <div class="v58_364">
                <div class="v58_365">
                    <div class="v58_366">
                        <div class="v58_367"></div>
                    </div>
                </div>
                <div class="v58_368"></div>
            </div>
            <div class="v58_369">
                <div class="v58_370">
                    <div class="v58_371">
                        <div class="v58_372"></div>
                    </div>
                </div>
                <div class="v58_373"></div>
            </div>
            <div class="v58_374">
                <div class="v58_375">
                    <div class="v58_376">
                        <div class="v58_377"></div>
                    </div>
                </div>
                <div class="v58_378"></div>
            </div>
            <div class="v58_379">
                <div class="v58_380">
                    <div class="v58_381">
                        <div class="v58_382"></div>
                    </div>
                </div>
                <div class="v58_383"></div>
            </div>
            <div class="v58_384">
                <div class="v58_385">
                    <div class="v58_386">
                        <div class="v58_387"></div>
                    </div>
                </div>
                <div class="v58_388"></div>
            </div>
            <div class="v58_389">
                <div class="v58_390">
                    <div class="v58_391">
                        <div class="v58_392"></div>
                    </div>
                </div>
                <div class="v58_393"></div>
            </div>
            <div class="v58_394">
                <div class="v58_395">
                    <div class="v58_396">
                        <div class="v58_397"></div>
                    </div>
                </div>
                <div class="v58_398"></div>
            </div>
            <div class="v58_399">
                <div class="v58_400">
                    <div class="v58_401">
                        <div class="v58_402"></div>
                    </div>
                </div>
                <div class="v58_403"></div>
            </div>
            <div class="v58_404">
                <div class="v58_405">
                    <div class="v58_406">
                        <div class="v58_407"></div>
                    </div>
                </div>
                <div class="v58_408"></div>
            </div>
        </div>
        <!--  6     Check out our latest article  -->
        <div class="v63_2699">
            <span class="v58_273">Check out our latest article</span>
            <div class="v58_275"></div>
        </div>
        <div class="v63_2695">
            <div class="v58_277"></div>
            <div class="v58_409"></div>
            <div class="v61_4">
                <div class="v61_0"></div>
                <div class="v61_2"></div>
            </div>
            <span class="v58_279">Disease detection, checkup in the laboratory</span>
            <span class="v58_280">In this case, the role of the health laboratory is very important to doa disease detection...</span>
            <span class="v61_5">Read more</span>
            <div class="v63_2689">

            </div>
        </div>
        <div class="v63_2696">
            <div class="v58_276"></div>
            <div class="v61_11"></div>
            <div class="v61_12">
                <div class="v61_13"></div>
                <div class="v61_14"></div>
            </div>
            <div class="v63_2691">

            </div>
            <span class="v61_7">Herbal medicines that are safe for consumption</span>
            <span class="v61_8">Herbal medicine is very widely used at this time because of its very good for your health...</span>
            <span class="v61_9">Read more</span>
        </div>
        <div class="v63_2697">
            <div class="v58_278"></div>
            <div class="v63_2693">

            </div>
            <div class="v63_0"></div>
            <div class="v63_1">
                <div class="v63_2"></div>
                <div class="v63_8"></div>
                <div class="v63_3"></div>
            </div>
            <span class="v63_4">Natural care for healthy facial skin</span>
            <span class="v63_5">A healthy lifestyle should start from now and also for your skin health. There are some...</span>
            <span class="v63_6">Read more</span>
        </div>
    </div>
    <div class="v63_2688">
        <div class="v63_2687">
            <div class="v58_7">
                <div class="v58_8">
                    <div class="v58_9">
                        <div class="v58_10">
                            <div class="v58_11"></div>
                        </div>
                    </div>
                    <div class="v58_12"></div>
                </div>
                <div class="v58_13">
                    <div class="v58_14">
                        <div class="v58_15">
                            <div class="v58_16"></div>
                        </div>
                    </div>
                    <div class="v58_17"></div>
                </div>
                <div class="v58_18">
                    <div class="v58_19">
                        <div class="v58_20">
                            <div class="v58_21"></div>
                        </div>
                    </div>
                    <div class="v58_22"></div>
                </div>
                <div class="v58_23">
                    <div class="v58_24">
                        <div class="v58_25">
                            <div class="v58_26"></div>
                        </div>
                    </div>
                    <div class="v58_27"></div>
                </div>
                <div class="v58_28">
                    <div class="v58_29">
                        <div class="v58_30">
                            <div class="v58_31"></div>
                        </div>
                    </div>
                    <div class="v58_32"></div>
                </div>
                <div class="v58_33">
                    <div class="v58_34">
                        <div class="v58_35">
                            <div class="v58_36"></div>
                        </div>
                    </div>
                    <div class="v58_37"></div>
                </div>
                <div class="v58_38">
                    <div class="v58_39">
                        <div class="v58_40">
                            <div class="v58_41"></div>
                        </div>
                    </div>
                    <div class="v58_42"></div>
                </div>
                <div class="v58_43">
                    <div class="v58_44">
                        <div class="v58_45">
                            <div class="v58_46"></div>
                        </div>
                    </div>
                    <div class="v58_47"></div>
                </div>
                <div class="v58_48">
                    <div class="v58_49">
                        <div class="v58_50">
                            <div class="v58_51"></div>
                        </div>
                    </div>
                    <div class="v58_52"></div>
                </div>
                <div class="v58_53">
                    <div class="v58_54">
                        <div class="v58_55">
                            <div class="v58_56"></div>
                        </div>
                    </div>
                    <div class="v58_57"></div>
                </div>
                <div class="v58_58">
                    <div class="v58_59">
                        <div class="v58_60">
                            <div class="v58_61"></div>
                        </div>
                    </div>
                    <div class="v58_62"></div>
                </div>
                <div class="v58_63">
                    <div class="v58_64">
                        <div class="v58_65">
                            <div class="v58_66"></div>
                        </div>
                    </div>
                    <div class="v58_67"></div>
                </div>
                <div class="v58_68">
                    <div class="v58_69">
                        <div class="v58_70">
                            <div class="v58_71"></div>
                        </div>
                    </div>
                    <div class="v58_72"></div>
                </div>
                <div class="v58_73">
                    <div class="v58_74">
                        <div class="v58_75">
                            <div class="v58_76"></div>
                        </div>
                    </div>
                    <div class="v58_77"></div>
                </div>
                <div class="v58_78">
                    <div class="v58_79">
                        <div class="v58_80">
                            <div class="v58_81"></div>
                        </div>
                    </div>
                    <div class="v58_82"></div>
                </div>
                <div class="v58_83">
                    <div class="v58_84">
                        <div class="v58_85">
                            <div class="v58_86"></div>
                        </div>
                    </div>
                    <div class="v58_87"></div>
                </div>
                <div class="v58_88">
                    <div class="v58_89">
                        <div class="v58_90">
                            <div class="v58_91"></div>
                        </div>
                    </div>
                    <div class="v58_92"></div>
                </div>
                <div class="v58_93">
                    <div class="v58_94">
                        <div class="v58_95">
                            <div class="v58_96"></div>
                        </div>
                    </div>
                    <div class="v58_97"></div>
                </div>
                <div class="v58_98">
                    <div class="v58_99">
                        <div class="v58_100">
                            <div class="v58_101"></div>
                        </div>
                    </div>
                    <div class="v58_102"></div>
                </div>
                <div class="v58_103">
                    <div class="v58_104">
                        <div class="v58_105">
                            <div class="v58_106"></div>
                        </div>
                    </div>
                    <div class="v58_107"></div>
                </div>
                <div class="v58_108">
                    <div class="v58_109">
                        <div class="v58_110">
                            <div class="v58_111"></div>
                        </div>
                    </div>
                    <div class="v58_112"></div>
                </div>
                <div class="v58_113">
                    <div class="v58_114">
                        <div class="v58_115">
                            <div class="v58_116"></div>
                        </div>
                    </div>
                    <div class="v58_117"></div>
                </div>
                <div class="v58_118">
                    <div class="v58_119">
                        <div class="v58_120">
                            <div class="v58_121"></div>
                        </div>
                    </div>
                    <div class="v58_122"></div>
                </div>
                <div class="v58_123">
                    <div class="v58_124">
                        <div class="v58_125">
                            <div class="v58_126"></div>
                        </div>
                    </div>
                    <div class="v58_127"></div>
                </div>
                <div class="v58_128">
                    <div class="v58_129">
                        <div class="v58_130">
                            <div class="v58_131"></div>
                        </div>
                    </div>
                    <div class="v58_132"></div>
                </div>
            </div>
            <div class="v51_129">
            </div>
            <div class="v58_138">
                <div class="v58_139">
                    <div class="v58_140">
                        <div class="v58_141">
                            <div class="v58_142"></div>
                        </div>
                    </div>
                    <div class="v58_143"></div>
                </div>
                <div class="v58_144">
                    <div class="v58_145">
                        <div class="v58_146">
                            <div class="v58_147"></div>
                        </div>
                    </div>
                    <div class="v58_148"></div>
                </div>
                <div class="v58_149">
                    <div class="v58_150">
                        <div class="v58_151">
                            <div class="v58_152"></div>
                        </div>
                    </div>
                    <div class="v58_153"></div>
                </div>
                <div class="v58_154">
                    <div class="v58_155">
                        <div class="v58_156">
                            <div class="v58_157"></div>
                        </div>
                    </div>
                    <div class="v58_158"></div>
                </div>
                <div class="v58_159">
                    <div class="v58_160">
                        <div class="v58_161">
                            <div class="v58_162"></div>
                        </div>
                    </div>
                    <div class="v58_163"></div>
                </div>
                <div class="v58_164">
                    <div class="v58_165">
                        <div class="v58_166">
                            <div class="v58_167"></div>
                        </div>
                    </div>
                    <div class="v58_168"></div>
                </div>
                <div class="v58_169">
                    <div class="v58_170">
                        <div class="v58_171">
                            <div class="v58_172"></div>
                        </div>
                    </div>
                    <div class="v58_173"></div>
                </div>
                <div class="v58_174">
                    <div class="v58_175">
                        <div class="v58_176">
                            <div class="v58_177"></div>
                        </div>
                    </div>
                    <div class="v58_178"></div>
                </div>
                <div class="v58_179">
                    <div class="v58_180">
                        <div class="v58_181">
                            <div class="v58_182"></div>
                        </div>
                    </div>
                    <div class="v58_183"></div>
                </div>
                <div class="v58_184">
                    <div class="v58_185">
                        <div class="v58_186">
                            <div class="v58_187"></div>
                        </div>
                    </div>
                    <div class="v58_188"></div>
                </div>
                <div class="v58_189">
                    <div class="v58_190">
                        <div class="v58_191">
                            <div class="v58_192"></div>
                        </div>
                    </div>
                    <div class="v58_193"></div>
                </div>
                <div class="v58_194">
                    <div class="v58_195">
                        <div class="v58_196">
                            <div class="v58_197"></div>
                        </div>
                    </div>
                    <div class="v58_198"></div>
                </div>
                <div class="v58_199">
                    <div class="v58_200">
                        <div class="v58_201">
                            <div class="v58_202"></div>
                        </div>
                    </div>
                    <div class="v58_203"></div>
                </div>
                <div class="v58_204">
                    <div class="v58_205">
                        <div class="v58_206">
                            <div class="v58_207"></div>
                        </div>
                    </div>
                    <div class="v58_208"></div>
                </div>
                <div class="v58_209">
                    <div class="v58_210">
                        <div class="v58_211">
                            <div class="v58_212"></div>
                        </div>
                    </div>
                    <div class="v58_213"></div>
                </div>
                <div class="v58_214">
                    <div class="v58_215">
                        <div class="v58_216">
                            <div class="v58_217"></div>
                        </div>
                    </div>
                    <div class="v58_218"></div>
                </div>
                <div class="v58_219">
                    <div class="v58_220">
                        <div class="v58_221">
                            <div class="v58_222"></div>
                        </div>
                    </div>
                    <div class="v58_223"></div>
                </div>
                <div class="v58_224">
                    <div class="v58_225">
                        <div class="v58_226">
                            <div class="v58_227"></div>
                        </div>
                    </div>
                    <div class="v58_228"></div>
                </div>
                <div class="v58_229">
                    <div class="v58_230">
                        <div class="v58_231">
                            <div class="v58_232"></div>
                        </div>
                    </div>
                    <div class="v58_233"></div>
                </div>
                <div class="v58_234">
                    <div class="v58_235">
                        <div class="v58_236">
                            <div class="v58_237"></div>
                        </div>
                    </div>
                    <div class="v58_238"></div>
                </div>
                <div class="v58_239">
                    <div class="v58_240">
                        <div class="v58_241">
                            <div class="v58_242"></div>
                        </div>
                    </div>
                    <div class="v58_243"></div>
                </div>
                <div class="v58_244">
                    <div class="v58_245">
                        <div class="v58_246">
                            <div class="v58_247"></div>
                        </div>
                    </div>
                    <div class="v58_248"></div>
                </div>
                <div class="v58_249">
                    <div class="v58_250">
                        <div class="v58_251">
                            <div class="v58_252"></div>
                        </div>
                    </div>
                    <div class="v58_253"></div>
                </div>
                <div class="v58_254">
                    <div class="v58_255">
                        <div class="v58_256">
                            <div class="v58_257"></div>
                        </div>
                    </div>
                    <div class="v58_258"></div>
                </div>
                <div class="v58_259">
                    <div class="v58_260">
                        <div class="v58_261">
                            <div class="v58_262"></div>
                        </div>
                    </div>
                    <div class="v58_263"></div>
                </div>
            </div>
            <!--   5  What our customer are saying       -->
            <span class="v58_6">“Our dedicated patient engagement app and
web portal allow you to access information instantaneously (no tedeous form, long calls,
or administrative hassle) and securely”</span>
            <span class="v51_164">What our customer are saying</span>
            <span class="v58_133">Arman Konysbay</span>
            <span class="v58_135">HR Manager, BI Group</span>
            <div class="v51_165"></div>
            <div class="v58_134">
                <div class="v58_0"></div>
            </div>
        </div>
        <div class="v63_2685">
            <div class="v58_268">
            </div>
            <div class="v58_270">
                <div class="v58_271"></div>
            </div>
            <div class="v63_2686">
                <div class="v58_264"></div>
                <div class="v58_265"></div>
                <div class="v58_267"></div>
                <div class="v58_266"></div>
            </div>
        </div>
    </div>
    <div class="v63_2684">
        <div class="v51_2">
            <div class="v51_3">
                <div class="v51_4">
                    <div class="v51_5">
                        <div class="v51_6"></div>
                    </div>
                </div>
                <div class="v51_7"></div>
            </div>
            <div class="v51_8">
                <div class="v51_9">
                    <div class="v51_10">
                        <div class="v51_11"></div>
                    </div>
                </div>
                <div class="v51_12"></div>
            </div>
            <div class="v51_13">
                <div class="v51_14">
                    <div class="v51_15">
                        <div class="v51_16"></div>
                    </div>
                </div>
                <div class="v51_17"></div>
            </div>
            <div class="v51_18">
                <div class="v51_19">
                    <div class="v51_20">
                        <div class="v51_21"></div>
                    </div>
                </div>
                <div class="v51_22"></div>
            </div>
            <div class="v51_23">
                <div class="v51_24">
                    <div class="v51_25">
                        <div class="v51_26"></div>
                    </div>
                </div>
                <div class="v51_27"></div>
            </div>
            <div class="v51_28">
                <div class="v51_29">
                    <div class="v51_30">
                        <div class="v51_31"></div>
                    </div>
                </div>
                <div class="v51_32"></div>
            </div>
            <div class="v51_33">
                <div class="v51_34">
                    <div class="v51_35">
                        <div class="v51_36"></div>
                    </div>
                </div>
                <div class="v51_37"></div>
            </div>
            <div class="v51_38">
                <div class="v51_39">
                    <div class="v51_40">
                        <div class="v51_41"></div>
                    </div>
                </div>
                <div class="v51_42"></div>
            </div>
            <div class="v51_43">
                <div class="v51_44">
                    <div class="v51_45">
                        <div class="v51_46"></div>
                    </div>
                </div>
                <div class="v51_47"></div>
            </div>
            <div class="v51_48">
                <div class="v51_49">
                    <div class="v51_50">
                        <div class="v51_51"></div>
                    </div>
                </div>
                <div class="v51_52"></div>
            </div>
            <div class="v51_53">
                <div class="v51_54">
                    <div class="v51_55">
                        <div class="v51_56"></div>
                    </div>
                </div>
                <div class="v51_57"></div>
            </div>
            <div class="v51_58">
                <div class="v51_59">
                    <div class="v51_60">
                        <div class="v51_61"></div>
                    </div>
                </div>
                <div class="v51_62"></div>
            </div>
            <div class="v51_63">
                <div class="v51_64">
                    <div class="v51_65">
                        <div class="v51_66"></div>
                    </div>
                </div>
                <div class="v51_67"></div>
            </div>
            <div class="v51_68">
                <div class="v51_69">
                    <div class="v51_70">
                        <div class="v51_71"></div>
                    </div>
                </div>
                <div class="v51_72"></div>
            </div>
            <div class="v51_73">
                <div class="v51_74">
                    <div class="v51_75">
                        <div class="v51_76"></div>
                    </div>
                </div>
                <div class="v51_77"></div>
            </div>
            <div class="v51_78">
                <div class="v51_79">
                    <div class="v51_80">
                        <div class="v51_81"></div>
                    </div>
                </div>
                <div class="v51_82"></div>
            </div>
            <div class="v51_83">
                <div class="v51_84">
                    <div class="v51_85">
                        <div class="v51_86"></div>
                    </div>
                </div>
                <div class="v51_87"></div>
            </div>
            <div class="v51_88">
                <div class="v51_89">
                    <div class="v51_90">
                        <div class="v51_91"></div>
                    </div>
                </div>
                <div class="v51_92"></div>
            </div>
            <div class="v51_93">
                <div class="v51_94">
                    <div class="v51_95">
                        <div class="v51_96"></div>
                    </div>
                </div>
                <div class="v51_97"></div>
            </div>
            <div class="v51_98">
                <div class="v51_99">
                    <div class="v51_100">
                        <div class="v51_101"></div>
                    </div>
                </div>
                <div class="v51_102"></div>
            </div>
            <div class="v51_103">
                <div class="v51_104">
                    <div class="v51_105">
                        <div class="v51_106"></div>
                    </div>
                </div>
                <div class="v51_107"></div>
            </div>
            <div class="v51_108">
                <div class="v51_109">
                    <div class="v51_110">
                        <div class="v51_111"></div>
                    </div>
                </div>
                <div class="v51_112"></div>
            </div>
            <div class="v51_113">
                <div class="v51_114">
                    <div class="v51_115">
                        <div class="v51_116"></div>
                    </div>
                </div>
                <div class="v51_117"></div>
            </div>
            <div class="v51_118">
                <div class="v51_119">
                    <div class="v51_120">
                        <div class="v51_121"></div>
                    </div>
                </div>
                <div class="v51_122"></div>
            </div>
            <div class="v51_123">
                <div class="v51_124">
                    <div class="v51_125">
                        <div class="v51_126"></div>
                    </div>
                </div>
                <div class="v51_127"></div>
            </div>
        </div>
        <!--   4 Always in touch     -->
        <div class="v63_2681"></div>
        <div class="v63_2682">
            <div class="v63_2683">
                <div class="v51_145"></div>
                <span class="v51_146">Сall</span></div>
            <span class="v44_1">Always in touch</span>
            <span class="v44_2">Our team is ready to provide assistance and answer your questions 24/7 every day. You can make a call or leave your application in the form below</span>
            <div class="v44_3"></div>
        </div>
    </div>
    <!-- 3 Leading healthcare providers    -->
    <div class="v63_2680">
        <div class="v63_2672">
            <div class="v63_2678">
                <div class="v63_2679">
                    <div class="v51_132"></div>
                    <span class="v51_133">Learn more</span></div>
                <span class="v33_61">Leading healthcare providers</span>
                <span class="v33_62">Huge Heart provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver</span>
                <div class="v33_63"></div>
            </div>
            <div class="v63_2677"></div>
        </div>
    </div>
    <div class="v63_2676">
        <div class="v63_2669">
            <div class="v51_153"></div>
            <span class="v51_154">Learn more</span>
        </div>
        <div class="v23_4">
            <div class="v23_5">
                <div class="v23_6">
                    <div class="v23_7">
                        <div class="v23_8"></div>
                    </div>
                </div>
                <div class="v23_9"></div>
            </div>
            <div class="v23_10">
                <div class="v23_11">
                    <div class="v23_12">
                        <div class="v23_13"></div>
                    </div>
                </div>
                <div class="v23_14"></div>
            </div>
            <div class="v23_15">
                <div class="v23_16">
                    <div class="v23_17">
                        <div class="v23_18"></div>
                    </div>
                </div>
                <div class="v23_19"></div>
            </div>
            <div class="v23_20">
                <div class="v23_21">
                    <div class="v23_22">
                        <div class="v23_23"></div>
                    </div>
                </div>
                <div class="v23_24"></div>
            </div>
            <div class="v23_25">
                <div class="v23_26">
                    <div class="v23_27">
                        <div class="v23_28"></div>
                    </div>
                </div>
                <div class="v23_29"></div>
            </div>
            <div class="v23_30">
                <div class="v23_31">
                    <div class="v23_32">
                        <div class="v23_33"></div>
                    </div>
                </div>
                <div class="v23_34"></div>
            </div>
            <div class="v23_35">
                <div class="v23_36">
                    <div class="v23_37">
                        <div class="v23_38"></div>
                    </div>
                </div>
                <div class="v23_39"></div>
            </div>
            <div class="v23_40">
                <div class="v23_41">
                    <div class="v23_42">
                        <div class="v23_43"></div>
                    </div>
                </div>
                <div class="v23_44"></div>
            </div>
            <div class="v23_45">
                <div class="v23_46">
                    <div class="v23_47">
                        <div class="v23_48"></div>
                    </div>
                </div>
                <div class="v23_49"></div>
            </div>
            <div class="v23_50">
                <div class="v23_51">
                    <div class="v23_52">
                        <div class="v23_53"></div>
                    </div>
                </div>
                <div class="v23_54"></div>
            </div>
            <div class="v23_55">
                <div class="v23_56">
                    <div class="v23_57">
                        <div class="v23_58"></div>
                    </div>
                </div>
                <div class="v23_59"></div>
            </div>
            <div class="v23_60">
                <div class="v23_61">
                    <div class="v23_62">
                        <div class="v23_63"></div>
                    </div>
                </div>
                <div class="v23_64"></div>
            </div>
            <div class="v23_65">
                <div class="v23_66">
                    <div class="v23_67">
                        <div class="v23_68"></div>
                    </div>
                </div>
                <div class="v23_69"></div>
            </div>
            <div class="v23_70">
                <div class="v23_71">
                    <div class="v23_72">
                        <div class="v23_73"></div>
                    </div>
                </div>
                <div class="v23_74"></div>
            </div>
            <div class="v23_75">
                <div class="v23_76">
                    <div class="v23_77">
                        <div class="v23_78"></div>
                    </div>
                </div>
                <div class="v23_79"></div>
            </div>
            <div class="v23_80">
                <div class="v23_81">
                    <div class="v23_82">
                        <div class="v23_83"></div>
                    </div>
                </div>
                <div class="v23_84"></div>
            </div>
            <div class="v23_85">
                <div class="v23_86">
                    <div class="v23_87">
                        <div class="v23_88"></div>
                    </div>
                </div>
                <div class="v23_89"></div>
            </div>
            <div class="v23_90">
                <div class="v23_91">
                    <div class="v23_92">
                        <div class="v23_93"></div>
                    </div>
                </div>
                <div class="v23_94"></div>
            </div>
            <div class="v23_95">
                <div class="v23_96">
                    <div class="v23_97">
                        <div class="v23_98"></div>
                    </div>
                </div>
                <div class="v23_99"></div>
            </div>
            <div class="v23_100">
                <div class="v23_101">
                    <div class="v23_102">
                        <div class="v23_103"></div>
                    </div>
                </div>
                <div class="v23_104"></div>
            </div>
            <div class="v23_105">
                <div class="v23_106">
                    <div class="v23_107">
                        <div class="v23_108"></div>
                    </div>
                </div>
                <div class="v23_109"></div>
            </div>
            <div class="v23_110">
                <div class="v23_111">
                    <div class="v23_112">
                        <div class="v23_113"></div>
                    </div>
                </div>
                <div class="v23_114"></div>
            </div>
            <div class="v23_115">
                <div class="v23_116">
                    <div class="v23_117">
                        <div class="v23_118"></div>
                    </div>
                </div>
                <div class="v23_119"></div>
            </div>
            <div class="v23_120">
                <div class="v23_121">
                    <div class="v23_122">
                        <div class="v23_123"></div>
                    </div>
                </div>
                <div class="v23_124"></div>
            </div>
            <div class="v23_125">
                <div class="v23_126">
                    <div class="v23_127">
                        <div class="v23_128"></div>
                    </div>
                </div>
                <div class="v23_129"></div>
            </div>
        </div>
        <!--  2 Our services       -->
        <div class="v63_2671">
            <span class="v21_131">Our services</span>
            <span class="v21_132">We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment with our highly qualified doctors you can consult with us which type of service is suitable for your health</span>
            <div class="v21_133"></div>
        </div>
        <div class="v63_2674">
            <div class="v63_2663">
                <div class="v21_140"></div>
                <span class="v23_140">Search clinics</span>
                <span class="v23_141">Choose your doctor from thousands of specialist, general, and trusted hospitals</span>
                <div class="v23_156">
                    <div class="v23_157">
                        <div class="v23_158"></div>
                        <div class="v23_159"></div>
                        <div class="v23_160"></div>
                        <div class="v23_161"></div>
                        <div class="v23_162"></div>
                    </div>
                    <div class="v23_163"></div>
                </div>
            </div>
            <div class="v63_2665">
                <div class="v23_0"></div>
                <div class="v33_15"><span class="v25_1">Consultation</span>
                    <div class="v27_0">
                        <div class="v27_1"></div>
                        <div class="v27_2"></div>
                        <div class="v27_3">
                            <div class="v27_4"></div>
                        </div>
                        <div class="v27_7">
                            <div class="v27_8"></div>
                        </div>
                        <div class="v27_10"></div>
                        <div class="v27_11"></div>
                        <div class="v27_12"></div>
                        <div class="v27_13"></div>
                        <div class="v27_15"></div>
                    </div>
                    <span class="v25_4">Free consultation with our trusted doctors and get the best recomendations</span>
                </div>
            </div>
            <div class="v63_2673">
                <div class="v63_2664">
                    <div class="v23_1"></div>
                </div>
                <div class="v33_16"><span class="v27_18">Online pharmacy</span>
                    <div class="v27_19">
                        <div class="v27_20"></div>
                    </div>
                    <span class="v27_21">Buy  your medicines with our mobile application with a simple delivery system</span>
                    <div class="v27_36">
                        <div class="v27_37">
                            <div class="v27_38"></div>
                            <div class="v27_40"></div>
                            <div class="v27_41"></div>
                            <div class="v27_42"></div>
                            <div class="v27_43"></div>
                            <div class="v27_44"></div>
                            <div class="v27_45"></div>
                            <div class="v27_46"></div>
                            <div class="v27_47"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="v63_2666">
                <div class="v27_48"></div>
                <div class="v42_22"><span class="v27_63">Details info</span>
                    <div class="v33_43">
                        <div class="v33_44">
                            <div class="v33_45"></div>
                            <div class="v33_46">
                                <div class="v33_47"></div>
                            </div>
                            <div class="v33_48"></div>
                            <div class="v33_49"></div>
                            <div class="v33_50"></div>
                        </div>
                        <div class="v33_51"></div>
                        <div class="v33_52"></div>
                        <div class="v33_53"></div>
                        <div class="v33_54"></div>
                        <div class="v33_55"></div>
                        <div class="v33_56"></div>
                        <div class="v33_57"></div>
                        <div class="v33_58"></div>
                    </div>
                    <span class="v27_78">Free consultation with our trusted doctors and get the best recomendations</span>
                </div>
            </div>
            <div class="v63_2668">
                <div class="v27_50"></div>
                <div class="v42_1">
                    <div class="v42_2">
                        <div class="v42_3"></div>
                        <div class="v42_17"></div>
                        <div class="v42_4">
                            <div class="v42_5">
                                <div class="v42_6">
                                    <div class="v42_7"></div>
                                </div>
                            </div>
                            <div class="v42_8"></div>
                            <div class="v42_9"></div>
                            <div class="v42_10"></div>
                            <div class="v42_11"></div>
                            <div class="v42_12"></div>
                            <div class="v42_13"></div>
                            <div class="v42_14"></div>
                            <div class="v42_15"></div>
                        </div>
                        <div class="v42_16"></div>
                    </div>
                </div>
                <span class="v27_79">Tracking</span><span class="v27_82">Track and save your medical history and health data </span>
            </div>
            <div class="v63_2667">
                <div class="v27_49">
                </div>
                <div class="v42_21">
                    <span class="v27_51">Emergency care</span>
                    <span class="v27_54">You can get 24/7 urgent care for yourself or your children and your lovely family</span>
                    <div class="v33_0">
                        <div class="v33_1"></div>
                        <div class="v33_4"></div>
                        <div class="v33_5"></div>
                        <div class="v33_13">
                            <div class="v33_12"></div>
                            <div class="v33_7"></div>
                        </div>
                        <div class="v33_8"></div>
                        <div class="v33_9"></div>
                        <div class="v33_10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="v63_2662">
        <div class="v63_288">
            <span class="v1_26">Home</span>
            <span class="v1_27">Find a doctor</span>
            <span class="v1_28">Endowments</span>
            <span class="v1_29">Hospitals</span>
            <span class="v1_30">About us</span>
            <span class="v1_31">Sign in</span>
        </div>
        <!--   1 Virtual healthcare for you     -->
        <div class="v63_2659">
            <span class="v9_0">Virtual healthcare for you</span>
            <span class="v9_1">Huge Heart provides progressive, and affordable healthcare, accessible on mobile and online for everyone</span>
            <div class="v63_2660">
                <div class="v9_4"></div>
                <span class="v9_5">Consult today</span>
            </div>
        </div>
        <div class="v63_2661">
            <div class="v63_290"></div>
        </div>
        <div class="v63_287"><span class="v8_0">Huge Heart</span>
        </div>

    </div>
</div>
</body>
</html>