<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacy - Huge Heart</title>
    <link rel="icon" type="image/x-icon" href="..//images/favicon.ico" />
    <link rel="stylesheet" href="..//css/style.css" />
    <link rel="stylesheet" href="../css/footer1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@100&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
            integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="..//images/logo.png" alt="logo" width="200px" />
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="main1.html">Home</a></li>
                    <li><a href="">Pharmacy page</a></li>
                    <li><a href="">Fundraising</a></li>
                    <li><a href="">Profile</a></li>
                    <li>
                        <a href="authentication.html"><button>Sign in</button></a>
                    </li>
                </ul>
            </nav>
            <img
                    src="../images/menu.png"
                    class="menu-icon"
                    onclick="menutoggle() "
            />
        </div>
        <div class="row">
            <div class="col-2">
                <h1>
                    Get medical help <br />
                    in a few clicks
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
                    <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing eli
                </p>
                <a href="" class="btn">Explore now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="..//images/dr.png" alt="back" />
            </div>
        </div>
    </div>
</div>

<!-- featured categories -->
<div class="categories">
    <div class="small-container">
        <h2 class="title">Categories</h2>
        <div class="row">
            <div class="col-3">
                <img src="..//images/cat3.jpg" alt="col3" />
            </div>
            <div class="col-3">
                <img src="..//images/cat3.jpg" alt="col3" />
            </div>
            <div class="col-3">
                <img src="..//images/cat3.jpg" alt="col3" />
            </div>
        </div>
    </div>
</div>

<!-- featured products -->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="..//images/cat1.jpg" />

            <h4><a href="product-detail.html">Painkillers</a></h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="..//images/cat1.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="..//images/cat1.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="..//images/cat1.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>

    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="..//images/cat2.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="..//images/cat2.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>

        <div class="col-4">
            <img src="..//images/cat2.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="..//images/cat2.jpg" />
            <h4>Painkillers</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
    <h2 class="title"><a href="product.html">All products &#8594;</a></h2>
</div>

<!-- testimonial -->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium quam laboriosam provident adipisci distinctio harum a
                    unde eveniet velit rerum?
                </p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <img src="..//images/user.jpg" alt="" />
                <h3>John Doe</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium quam laboriosam provident adipisci distinctio harum a
                    unde eveniet velit rerum?
                </p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <img src="..//images/user.jpg" alt="" />
                <h3>John Doe</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium quam laboriosam provident adipisci distinctio harum a
                    unde eveniet velit rerum?
                </p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <img src="..//images/user.jpg" alt="" />
                <h3>John Doe</h3>
            </div>
        </div>
    </div>
</div>

<!-- ------- brands -------- -->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="..//images/cip.png" alt="" />
            </div>
            <div class="col-5">
                <img src="../images/divi.png" alt="" />
            </div>
            <div class="col-5">
                <img src="..//images/download.png" alt="" />
            </div>
            <div class="col-5">
                <img src="../images/nov.png" alt="" />
            </div>
            <div class="col-5">
                <img src="../images/joh.png" alt="" />
            </div>
        </div>
    </div>
</div>

<!-- ---------------footer----------- -->
<section id="features">
    <div class="rows">
        <div class="columns">
            <h5 style="color: whitesmoke; margin-left: 60px">Information</h5>
            <br />
            <ul class="help">
                <ul>
                    <a class="linkbottom" href="#">News</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Our company</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Careers</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Privacy & Security</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">COVID-19</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Terms of Use</a>
                </ul>
            </ul>
        </div>
        <div class="columns">
            <h5 style="color: whitesmoke; margin-left: 60px">For customers</h5>
            <br />
            <ul class="help">
                <ul>
                    <a class="linkbottom" href="#">Services quality</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Delivery 24/7</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="Q&A.html">Questions & Answers</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">How do I can get your services?</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Payment</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Registration form</a>
                </ul>
            </ul>
        </div>
        <div class="columns">
            <h5 style="color: whitesmoke; margin-left: 60px">Contact</h5>
            <br />
            <ul class="help">
                <ul>
                    <a class="linkbottom" href="#">Depatments</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Call-center</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Email</a>
                </ul>
                <ul>
                    <a class="linkbottom" href="#">Operating mode</a>
                </ul>
            </ul>
        </div>
    </div>
</section>
<!-- Footer -->
<footer id="footer">
    <p>© Copyright 2022 Huge Heart Organization</p>
</footer>

<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px";
        } else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>
</body>
</html>
